<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Datatrans Plugin Flutter</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>datatrans_plugin_flutter_example</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) requires camera access</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>klarna</string>
		<string>klarnaconsent</string>
		<string>postfinance-epayment</string>
		<string>swish</string>
		<string>vipps</string>
		<string>vippsMT</string>
		<string>twint-issuer1</string>
		<string>twint-issuer2</string>
		<string>twint-issuer3</string>
		<string>twint-issuer4</string>
		<string>twint-issuer5</string>
		<string>twint-issuer6</string>
		<string>twint-issuer7</string>
		<string>twint-issuer8</string>
		<string>twint-issuer9</string>
		<string>twint-issuer10</string>
		<string>twint-issuer11</string>
		<string>twint-issuer12</string>
		<string>twint-issuer13</string>
		<string>twint-issuer14</string>
		<string>twint-issuer15</string>
		<string>twint-issuer16</string>
		<string>twint-issuer17</string>
		<string>twint-issuer18</string>
		<string>twint-issuer19</string>
		<string>twint-issuer20</string>
		<string>twint-issuer21</string>
		<string>twint-issuer22</string>
		<string>twint-issuer23</string>
		<string>twint-issuer24</string>
		<string>twint-issuer25</string>
		<string>twint-issuer26</string>
		<string>twint-issuer27</string>
		<string>twint-issuer28</string>
		<string>twint-issuer29</string>
		<string>twint-issuer30</string>
		<string>twint-issuer31</string>
		<string>twint-issuer32</string>
		<string>twint-issuer33</string>
		<string>twint-issuer34</string>
		<string>twint-issuer35</string>
		<string>twint-issuer36</string>
		<string>twint-issuer37</string>
		<string>twint-issuer38</string>
		<string>twint-issuer39</string>
		<string>twint-issuer40</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app.datatrans.flutter</string>
			</array>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
</dict>
</plist>
